body{
	margin: 0;
	font-family: optima, 'Arial', 'Helvetica', sans-serif;
	background-color: white;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #213663;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}
h1, h2{
	font-family: 'Teko', sans-serif;
}

/* Write comment here */

h2{
	font-size: 36px;
	margin: 40px 0 10px;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 13px solid #BFBFBF;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;
}

main img{
	max-width: 100%
}

main p.caption{
	color: #999999;
	text-align: center;
	font-style: italic;
	margin-top: 7px;

}

a{
	color: darkblue;
}
a:hover{
	color: red;
}

footer{
	background-color: #213663;
	text-align: center;
	color: white;
	padding: 25px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: 100%;
	background-color: transparent;
}
